@{
    ViewBag.Title = "Aboutus";
}

@{
    Layout = "~/Views/Shared/_header.cshtml";
}

<html>
<body class="back" style="background-image:url(/Images/background.jpg)">
        <div class="abt-set">
            <p>This is an online shopping site that enables customer to<br />
               buy mobiles, tablets, cameras and laptops.It will provide<br />
               full details and specifications of all the products. You<br />
               should be registered user to buy products.</p>
            <p>For any other query Contact <b>happyhaseeb@yahoo.com</b></p>
        </div>
</body>
</html>

