@{
    ViewBag.Title = "Contact";
}

@{
    Layout = "~/Views/Shared/_header.cshtml";
}
<html>
<body class="back" style="background-image:url(/Images/background.jpg)">
    
    <div class="abt-set">
        <p>Haseeb Iqbal</p>
        <p>Contact # 0333-XXXXYYY</p>
        <p>Email: happyhaseeb@yahoo.com</p>
        <p>Address: PUCIT, Lahore</p>
    </div>
</body>
</html>

